CENG111 Concepts in Computer Engineering
CENG115 Discrete Structures
CENG213 Theory of Computation
MATH141
burnerFunctions
Amfideki dersler.jpeg
Amfideki dersler.jpeg
Artık geçerli olmayan 141 dizelgesi.pdf
Homework_Groups_SON.xlsx
İzlence.jpeg
Lab Sections.xlsx
M141 Fall 2021 Grades (1).pdf
MATH 141 - ÖĞR. GÖR. DR. GÖKHAN ŞAHAN .pdf
BoşZamanÇalışmaları
CENG322/cevaplar
CENG322/Abraham Silberschatz, Greg Gagne, Peter B. Galvin - Operating System Concepts-Wiley (2018).pdf
MATH142
CENG214 (2021-2022) - Lab Sessions.xlsx
Gayle Laakmann McDowell - Cracking the Coding Interview_ 189 Programming Questions and Solutions-CareerCup (2015).pdf
Gayle Laakmann McDowell - Cracking the Tech Career_ Insider Advice on Landing a Job at Google, Microsoft, Apple, or any Top Tech Company-Wiley (2014).pdf
Kleppmann, Martin - Designing data-intensive applications_ the big ideas behind reliable, scalable, and maintainable systems-O'Reilly Media (2018).pdf
CENG322/2018 sınavı final
CENG322/Bizim sınav
CENG322/cevaplar
CENG322/Eski sınavlar
CENG322/09_Scheduling.pdf
CENG322/10_Main_Memory.pdf
CENG322/11_Paging.pdf
CENG322/12_Virtual_Memory.pdf
CENG322/13_IO Systems_and_MassStorage_Structure.pdf
CENG322/Abraham Silberschatz, Greg Gagne, Peter B. Galvin - Operating System Concepts-Wiley (2018).pdf
Korsan
CENG216
CENG214
CENG312
CENG318
CENG212/scheme çalışmaları
CENG212/drive-download-20220420T210440Z-001.zip
CENG212/dynamic_deneme.py
CENG212/e9_v01.scm
CENG212/e9_v02.scm
CENG212/e10.scm
CENG212/e11.scm
CENG212/Michael L. Scott - Programming Language Pragmatics-Morgan Kaufmann (2016).pdf
CENG113/Tony Gaddis, Haywood Community College - Starting Out with Python, Global Edition, 5th Edition-Pearson (2021).pdf
Math 142      Midterm 1 List.pdf
CENG215/kitap
CENG215/Eski